<form action="{{ url }}" method="post" class="search-form">
  <fieldset>
    <div class="inline-button-form multi-button-inline-form">
      <legend class="visually-hidden">Search</legend>
      <label for="search-field" class="visually-hidden">Search</label>
      <input type="search" id="search-field"/>
      <input type="submit" value="Search">
      <label for="select" class="visually-hidden">Select Button List</label>
      <select id="select" class="sel-btn sel-btn-small">
        <option>All</option>
        <option>Option One</option>
        <option>Option Two</option>
        <option>Option Three</option>
      </select>
    </div>
  </fieldset>
</form>