details summary::-webkit-details-marker {
  display: none;
}

summary {
  // list-style: none;
  // display: block;
  cursor: pointer;
}

details.accordion {
  width: 100%;
  border: 1px solid $gray-dark;
  border-bottom: 0;
  margin-bottom: $space;
}
.accordion summary {
  padding: $pad-half;
  color: $white;
  background-color: $gray-med;
}

.accordion__content {
  padding: $pad-half;
}
.accordion__close-button {
  width: 100%;
  padding: $pad-half;
  background-color: $gray-med;
  border: 1px solid $gray-dark;
  border-radius: 0;
  background-repeat: no-repeat;
  background-size: 0.5em;
  background-position: right 50% top 50%, 0 0;
  background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='utf-8'%3F%3E%3Csvg version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 15.6 7.7' style='enable-background:new 0 0 15.6 7.7;' xml:space='preserve'%3E%3Cpolygon style='fill:var(--primary-txt,#{$white});' points='0,0 7.8,7.7 15.6,0 '/%3E%3C/svg%3E%0A");
}
