//Article
.article-header {
  h1 {
    font-size: 2.5em;
  }
}

.byline {
  font-size: $font-size-small-2;
  font-style: italic;
  font-weight: $font-weight-bold;
  margin-bottom: $space-half;
}

.header-faded {
  width: 100%;
  padding: $pad;
  color: var(--primary-txt, $brand-primary-text);
  background-color: var(--primary, $brand-primary);
  background: linear-gradient(
    90deg,
    var(--primary, $brand-primary) 0%,
    rgba(255, 255, 255, 1) 100%
  );
}

//Social Share
.social-share {
  overflow: hidden;
  margin-bottom: $space;

  li {
    float: left;
    margin-right: $space-half;
  }

  a {
    background: $gray-dark;
    color: $white;
    display: block;
    padding: $pad-half;

    &:hover {
      background: $gray;
    }
  }
}
