.breadcrumb-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.breadcrumb-item {
  font-weight: $font-weight-light;
  &::after {
    font-weight: $font-weight-bold;
    padding: $pad-half;
    content: ">";
    color: var(--primary, $brand-primary);
  }

  &:nth-of-type(1) {
    padding-left: 0;
  }
}
.tdf .breadcrumb-item {
  &::after {
    color: var(--primary-txt, $brand-primary-text);
  }
}

.breadcrumb-item--active {
  &::after {
    content: "";
  }
}

.breadcrumb-item a {
  padding: $pad-half;
  color: var(--primary, $brand-primary);

  &:hover {
    text-decoration: underline;
    text-decoration-color: var(--primary, $brand-primary);
  }
}
.tdf .breadcrumb-item a {
  color: var(--primary-txt, $brand-primary-text);
}
