/*------------------------------------*\
    $NAVIGATION
\*------------------------------------*/

.primary-nav {
  // width: 100vw;
  background-color: var(--primary-txt, $brand-primary-text);
  color: var(--primary, $brand-primary);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  padding: $pad;
  transition-timing-function: ease;
  transition-duration: 0.5s;
  transition-property: background-color, color;
  transition-delay: 0.25s;
}

.primary-nav__top-bar {
  display: flex;
  flex-wrap: wrap;

  // justify-content: space-between;
  justify-content: space-evenly;
}

.primary-nav__top-bar__item {
  width: 15%;
  flex: 1 1 auto;
  display: flex;
  align-items: center;
  &:nth-of-type(1) {
    justify-content: flex-start;
    order: 0;
  }
  &:nth-of-type(2) {
    justify-content: flex-end;
    order: 1;
  }
  &:nth-of-type(3) {
    margin-top: $space-half;
    width: 100%;
    justify-content: center;
    flex: 2 0 auto;
    order: 2;
  }
  @include respond-at($bp-large-2) {
    &:nth-of-type(1) {
      justify-content: flex-start;
      order: 0;
    }
    &:nth-of-type(2) {
      justify-content: flex-end;
      order: 2;
    }
    &:nth-of-type(3) {
      margin-top: 0;
      width: 40%;
      justify-content: center;
      flex: 2 0 auto;
      order: 1;
    }
  }
}

.btn-main-menu {
  display: flex;
  align-items: center;
  color: var(--primary, $brand-primary);
  background-color: var(--primary-txt, $brand-primary-text);
}

.btn-main-menu__icon {
  height: 12px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 0.5em;
}

.btn-main-menu__icon--inner {
  display: block;
  width: 1.2em;
  height: 2px;
  opacity: 1;
  background-color: var(--primary, $brand-primary);
  transition-timing-function: ease;
  transition-duration: 0.15s;
  transition-property: transform, opacity;
}

.btn-main-menu {
  &:hover,
  &:focus {
    .btn-main-menu__icon--inner {
      background-color: var(--primary-drk-txt, $brand-primary-dark-text);
    }
  }

  &:active {
    .btn-main-menu__icon--inner {
      background-color: var(--primary-lt-txt, $brand-primary-light-text);
    }
  }
}

.primary-nav__items {
  overflow: hidden;
  max-height: 0;
  transition-timing-function: ease;
  transition-duration: 0.5s;
  transition-property: max-height;
}
/*------------------------------------*\
    NAV EXPANDED SIZE CHANGE
\*------------------------------------*/

.primary-nav--expanded .primary-nav__items {
  max-height: 600px;
  transition-timing-function: ease;
  transition-duration: 0.5s;
  transition-property: max-height;
}

/*------------------------------------*\
    NAV EXPANDED COLOR CHANGE
\*------------------------------------*/

.primary-nav--open {
  background-color: var(--primary, $brand-primary);
  color: var(--primary-txt, $brand-primary-text);
  transition-timing-function: ease;
  transition-duration: 0.5s;
  transition-property: color, background-color;
}

.primary-nav--open .btn-main-menu {
  color: var(--primary-txt, $brand-primary-text);
  background-color: var(--primary, $brand-primary);
  &:hover,
  &:focus {
    background: var(--primary-drk, $brand-primary-dark);
    color: var(--primary-drk-txt, $brand-primary-dark-text);
  }

  &:active {
    background: var(--primary-lt, $brand-primary-light);
    color: var(--primary-lt-txt, $brand-primary-light-text);
  }
}

.primary-nav--open .btn-main-menu {
  .btn-main-menu__icon--inner {
    background-color: var(--primary-txt, $brand-primary-text);
    transition-timing-function: ease;
    transition-duration: 0.15s;
    transition-property: transform, opacity;
  }
  &:hover,
  &:focus {
    .btn-main-menu__icon--inner {
      background-color: var(--primary-drk-txt, $brand-primary-dark-text);
    }
  }

  &:active {
    .btn-main-menu__icon--inner {
      background-color: var(--primary-lt-txt, $brand-primary-light-text);
    }
  }
}
.primary-nav--open .btn-main-menu__icon--inner:nth-of-type(1) {
  transform: rotate(45deg) translate(2px, 5px);
}
.primary-nav--open .btn-main-menu__icon--inner:nth-of-type(2) {
  width: 0;
  opacity: 0;
}
.primary-nav--open .btn-main-menu__icon--inner:nth-of-type(3) {
  transform: rotate(-45deg) translate(2px, -5px);
}

.primary-nav__items {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
  // margin: 0;
}

.primary-nav__items-container {
  padding: $pad-double;
}
