.tabs {
  width: 100%;
  border-bottom: 2px solid $gray-dark;
  font-weight: $font-weight-light;
  font-style: italic;

  ul {
    display: flex;
    flex-wrap: wrap;
  }

  li {
    margin-right: $space;
    border-top: 4px solid rgba(255, 255, 255, 0);
    border-bottom: 4px solid rgba(255, 255, 255, 0);

    &.tab--active {
      border-top: 4px solid var(--primary, $brand-primary);
      border-bottom: 4px solid var(--primary, $brand-primary);
      font-weight: $font-weight-bold;
    }
  }

  a {
    display: block;
    padding: $pad-quarter $pad-double;
    &:hover,
    &:focus {
      background: var(--primary, $brand-primary);
      color: var(--primary-txt, $brand-primary-text);
    }

    &.active {
      border-top: var(--primary, $brand-primary);
      border-bottom: var(--primary, $brand-primary);
    }
  }
}
