<div class="demo">
  <!--Grid 4up-->
  <div class="grid grid-4up">
    <div class="grid-item">1/4</div>
    <div class="grid-item">1/4</div>
    <div class="grid-item">1/4</div>
    <div class="grid-item">1/4</div>
  </div>
</div>