<details class="accordion" id="accordion1">
  <summary>
    <span class="gamma">Info</span></summary>
   <div class="content">

  {% include "@atoms/07-tables/00-table.html.twig" %}
    </div>
</details>
<details id="accordion2" class="accordion">
  <summary class="gamma">Info</summary>
   <div class="content">
  <div class="accordion__content">
    Content
  </div>
    </div>
</details>