<details class="accordion" id="accordion1">
  <summary>
    <span class="gamma">Info</span></summary>
  <div class="accordion__content">
    <p>
      Content</p>
    <p>
      Content</p>
    <p>
      Content</p>
    <p>
      Content</p>
    <p>
      Content</p>
    <p>
      Content</p>
    <p>
      Content</p>
    <p>
      Content</p>
    <p>
      Content</p>
    <p>
      Content</p>
    <p>
      Content</p>
    <p>
      Content</p>
    <p>
      Content</p>
    <p>
      Content</p>
    <p>
      Content</p>
    <p>
      Content</p>
    <p>
      Content</p>
    <p>
      Content</p>
    <p>
      Content</p>
    <p>
      Content</p>
    <p>
      Content</p>
    <p>
      Content</p>
    <p>
      Content</p>
    <p>
      Content</p>
    <p>
      Content</p>
    <p>
      Content</p>
    <p>
      Content</p>
    <p>
      Content</p>
    <p>
      Content</p>
    <p>
      Content</p>
    <p>
      Content</p>
    <p>
      Content</p>
    <p>
      Content</p>
    <p>
      Content</p>
  </div>
  <button class="accordion__close-button" value="accordion1"></button>
</details>
<details class="accordion">
  <summary class="gamma">Info</summary>
  <div class="accordion__content">
    Content
  </div>
  <button class="accordion__close-button">Close</button>
</details>