<details class="accordion" id="accordion1">
  <summary>
    <span class="gamma">Info</span></summary>

  {% include "@atoms/07-tables/00-table.html.twig" %}

  <button class="accordion__close-button" value="accordion1">
    <span class="visually-hidden">Close</span></button>
</details>
<details id="accordion2" class="accordion">
  <summary class="gamma">Info</summary>
  <div class="accordion__content">
    Content
  </div>
  <button class="accordion__close-button" value="accordion2">
    <span class="visually-hidden">Close</span></button>
</details>