<div class="heading-inline-content__container">
  <div class="heading-inline-content__heading delta">
    <strong>
      <i>Heading</i>
    </strong>
  </div>
  <div class="heading-inline-content__content">
    Content
  </div>
</div>
<div class="heading-inline-content__container">
  <div class="heading-inline-content__heading delta">
    <strong>
      <i>Heading</i>
    </strong>
  </div>
  <div class="heading-inline-content__content">
    Content
  </div>
</div>
