<form action="{{ url }}" method="post" class="inline-form newsletter-form">           
    <fieldset>
	    <label for="newsletter-scope">Sign up for our newsletter</label>
	    <div class="inline-button-form">
	   		<input type="email" placeholder="E-mail address" id="newsletter-field" class="newsletter-field" />
	    <input type="submit"value="Sign Me Up!">
		</div>
    </fieldset>
</form>