<div class="info-block__container">
  <div class="info-block__top-container">
    {% for key, item in riderData.info %}
      <div class="heading-inline-content__container">
        <div class="heading-inline-content__heading delta">
          <i>{{ key }}</i>
        </div>
        <div class="heading-inline-content__content">
          {{ item }}
        </div>
      </div>
    {% endfor %}

  </div>
  <div class="block-heading-text__container">
    <div class="block-heading-text__heading delta">

      <i>Biography</i>

    </div>
    <p>{{riderData.biography}}</p>
  </div>
</div>