<p><a href="#" class="btn">Button</a></p>
<p><button>Button</button></p>
<p><a href="#" class="btn btn-small">Small Button Link</a></p>
<p><button class="btn-small">Small Button</button></p>
<p><a href="#" class="btn disabled">Disabled Button Link</a></p>
<p><button disabled>Disabled Button</button></p>