<p>
  <a href="#" class="btn">Button</a>
</p>
<p>
  <button>Button</button>
</p>
<p>
  <a href="#" class="btn btn-small">Small Button Link</a>
</p>
<p>
  <button class="btn-small">Small Button</button>
</p>
<p>
  <a href="#" class="btn disabled">Disabled Button Link</a>
</p>
<p>
  <button disabled="disabled">Disabled Button</button>
</p>
<p>
  <button type="button" name="button" class="btn-main-menu">Menu<div class="btn-main-menu__icon">
      <div class="btn-main-menu__icon--inner"></div>
      <div class="btn-main-menu__icon--inner"></div>
      <div class="btn-main-menu__icon--inner"></div>
    </div>
  </button>
</p>
<p class="primary-nav--open">
  <button type="button" name="button" class="btn-main-menu">Menu<div class="btn-main-menu__icon">
      <div class="btn-main-menu__icon--inner"></div>
      <div class="btn-main-menu__icon--inner"></div>
      <div class="btn-main-menu__icon--inner"></div>
    </div>
  </button>
</p>