<p>These colors are set by variables and can change dynamically based on the container style. To view how each swatch changes, select a different color scheme from the top-right dropdown.</p>

<ul class="sg-colors">
	<li class="primary-lt-bkg">
		<span class="sg-swatch" ></span>
		<div class="sg-label">Brand Primary Light</div>
	</li>
	<li class="primary-bkg">
		<span class="sg-swatch" ></span>
		<div class="sg-label">Brand Primary</div>
	</li>
	<li class="primary-drk-bkg">
		<span class="sg-swatch" ></span>
		<div class="sg-label">Brand Primary Dark</div>
	</li>
	<li class="secondary-lt-bkg">
		<span class="sg-swatch" ></span>
		<div class="sg-label">Brand Secondary Light</div>
	</li>
	<li class="secondary-lt2-bkg">
		<span class="sg-swatch" ></span>
		<div class="sg-label">Brand Secondary Light 2</div>
	</li>
	<li class="secondary-bkg">
		<span class="sg-swatch" ></span>
		<div class="sg-label">Brand Secondary</div>
	</li>
	<li class="secondary-drk-bkg">
		<span class="sg-swatch" ></span>
		<div class="sg-label">Brand Secondary Dark</div>
	</li>
</ul>