<nav id="primary-nav" class="primary-nav primary-nav--expanded primary-nav--open ">
  <div class="primary-nav__top-bar">
    <div class="primary-nav__top-bar__item">
      <button type="button" name="menu-button" id="primary-nav__menu-button" class="btn-main-menu btn-main-menu--reversed">Menu<div class="btn-main-menu__icon">
          <div class="btn-main-menu__icon--inner"></div>
          <div class="btn-main-menu__icon--inner"></div>
          <div class="btn-main-menu__icon--inner"></div>
        </div>
      </button>
    </div>
    <div class="primary-nav__top-bar__item logo-reversed">
      {% include "@atoms/04-images/00-logo.html.twig" %}
    </div>
    <div class="primary-nav__top-bar__item">
  {% include "@molecules/04-forms/00-search.html.twig" %}
</div>
  </div>
  <div class="primary-nav__items">
    <div class="primary-nav__items-container">
      <div class="nav-category-list__title">Category Title</div>
      <ul class="nav-category-list__list">
        <li>Category 1</li>
        <li>Category 2</li>
        <li>Category 3</li>
      </ul>
    </div>
    <div class="primary-nav__items-container">
      <div class="nav-category-list__title">Category Title</div>
      <ul class="nav-category-list__list">
        <li>Category 1</li>
        <li>Category 2</li>
        <li>Category 3</li>
      </ul>
    </div>
  </div>
</nav>
<!--end .nav-->
