<h3>Brand Colors</h3>
<ul class="sg-colors">
	<li>
		<span class="sg-swatch" style="background: #ff733b;"></span>
		<span class="sg-label">#ff733b</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #d23d00;"></span>
		<span class="sg-label">#d23d00</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #852f0d;"></span>
		<span class="sg-label">#852f0d</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #c1e3f8;"></span>
		<span class="sg-label">#c1e3f8</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #86b5d3;"></span>
		<span class="sg-label">#86b5d3</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #0d5885;"></span>
		<span class="sg-label">#0d5885</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #023555;"></span>
		<span class="sg-label">#023555</span>
	</li>
</ul>
<h3>General Colors</h3>
<ul class="sg-colors">
	<li>
		<span class="sg-swatch" style="background: #808080;"></span>
		<span class="sg-label">#808080</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #ffffff;"></span>
		<span class="sg-label">#ffffff</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #000000;"></span>
		<span class="sg-label">#000000</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #808080;"></span>
		<span class="sg-label">#808080</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #f9f9f9;"></span>
		<span class="sg-label">#f9f9f9</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #eeeeee;"></span>
		<span class="sg-label">#eeeeee</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #dddddd;"></span>
		<span class="sg-label">#dddddd</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #a5a5a5;"></span>
		<span class="sg-label">#a5a5a5</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #555555;"></span>
		<span class="sg-label">#555555</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #252525;"></span>
		<span class="sg-label">#252525</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: rgba(0, 0, 0, 0.5);"></span>
		<span class="sg-label">rgba(0, 0, 0, 0.5)</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: rgb(209, 0, 0);"></span>
		<span class="sg-label">rgb(209, 0, 0)</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #089e00;"></span>
		<span class="sg-label">#089e00</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #fff664;"></span>
		<span class="sg-label">#fff664</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #000db5;"></span>
		<span class="sg-label">#000db5</span>
	</li>
</ul>
<h3>Race Colors</p>
<p>Tour de France</p>
<ul class="sg-colors">
	<li>
		<span class="sg-swatch" style="background: rgb(255, 255, 183);"></span>
		<span class="sg-label">rgb(255, 255, 183)</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #ff0;"></span>
		<span class="sg-label">#ff0</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: rgb(141, 141, 9);"></span>
		<span class="sg-label">rgb(141, 141, 9)</span>
	</li>
	</ul>
	<p>Giro d'Italia</p>
	<ul class="sg-colors">
	<li>
		<span class="sg-swatch" style="background: #f88a82;"></span>
		<span class="sg-label">#f88a82</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #da291c;"></span>
		<span class="sg-label">#da291c</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #79140d;"></span>
		<span class="sg-label">#79140d</span>
	</li>
	</ul>
	<p>Vuelta a España</p>
	<ul class="sg-colors">
	<li>
		<span class="sg-swatch" style="background: #fd99bb;"></span>
		<span class="sg-label">#fd99bb</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #ff286e;"></span>
		<span class="sg-label">#ff286e</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #a31847;"></span>
		<span class="sg-label">#a31847</span>
	</li>
</ul>