<h1 class="giga">Heading Level 1 - Giga</h1>
<h1 class="giga"><em>Heading Level 1 - Giga</em></h1>
<h1 class="mega">Heading Level 1 - Mega</h1>
<h1 class="mega"><em>Heading Level 1 - Mega</em></h1>
<h1 class="kilo">Heading Level 1 - Kilo</h1>
<h1 class="kilo"><em>Heading Level 1 - Kilo</em></h1>
<h1>Heading Level 1</h1>
<h1><em>Heading Level 1</em></h1>
<h2>Heading Level 2</h2>
<h2><em>Heading Level 2</em></h2>
<h3>Heading Level 3</h3>  
<h3><em>Heading Level 3</em></h3>  
<h4>Heading Level 4</h4>
<h4><em>Heading Level 4</em></h4>
<h5>Heading Level 5</h5> 
<h5><em>Heading Level 5</em></h5> 
<h6>Heading Level 6</h6>
<h6><em>Heading Level 6</em></h6>