/* Define your base font-size here; most elements will inherit this. */
html {
  font-size: 1em; /* Assuming 16px... */
  line-height: 1.5; /* 24px (This is now our magic number; all subsequent margin-bottoms and line-heights want to be a multiple of this number in order to maintain vertical rhythm.) */
}

body {
  background: $white;
  font: 100%/1.5 $font;
  -webkit-text-size-adjust: 100%;
  color: $gray-dark;
}
