/* Text-Related Elements */
p {
  margin-bottom: $space;
  font-weight: $font-weight-normal;
}

.font-thin {
  font-weight: $font-weight-light;
}

strong {
  font-weight: $font-weight-bold;
}

.font-exbold {
  font-weight: $font-weight-extraBold;
}

/* Blockquote */
blockquote {
  font-style: italic;
  border: 1px solid var(--primary, $brand-primary);
  border-radius: $border-radius;
  box-shadow: $shadow;
  color: var(--primary, $brand-primary);
  padding: $pad;
  margin-bottom: $space;

  & > p {
    font-weight: $font-weight-light;
    margin: 0;
  }
  .tdf & {
    color: var(--primary-txt, $tdf-primary-text);
  }
}

/* Horizontal Rule */
hr {
  border: 1px solid var(--primary, $brand-primary);
  height: 4px;
  border-left: none;
  border-right: none;
  // background: $brand-primary;
  margin: $space-double 0;
  text-align: center;

  &:after {
    content: url("data:image/svg+xml;charset=UTF-8, <svg xmlns='http://www.w3.org/2000/svg' version='1.1' viewBox='0 0 14.63 7.928' height='50' width='50'><style type='text/css'>.st0{fill:none;stroke:var(--primary,#{$brand-primary});stroke-width:0.5;stroke-linecap:round;stroke-miterlimit:10;}</style><circle class='st0' cx='11.593' cy='4.891' r='2.787'/><circle class='st0' cx='3.037' cy='4.891' r='2.787'/><path class='st0' d='M11.593,4.891l-1.552-3.26V0.268c1.552-0.183,1.718,1.084,0.581,1.189'/><polygon class='st0' points='10.041,1.632 6.645,5.41 3.037,4.891 5.64,1.623 10.041,1.142 '/><line class='st0' x1='6.645' y1='5.41' x2='5.263' y2='0.302'/><path class='st0' d='M4.507,0.251c0.395,0.102,1.551-0.1,1.692,0.102'/></svg>");
    display: inline-block;
    position: relative;
    top: -1em;
    font-size: 1.5em;
    padding: 0 0.25em;
    background: white;
  }
  .tdf &:after {
    content: url("data:image/svg+xml;charset=UTF-8, <svg xmlns='http://www.w3.org/2000/svg' version='1.1' viewBox='0 0 14.63 7.928' height='50' width='50'><style type='text/css'>.st0{fill:none;stroke:var(--primary,#{$tdf-primary});stroke-width:0.5;stroke-linecap:round;stroke-miterlimit:10;}</style><circle class='st0' cx='11.593' cy='4.891' r='2.787'/><circle class='st0' cx='3.037' cy='4.891' r='2.787'/><path class='st0' d='M11.593,4.891l-1.552-3.26V0.268c1.552-0.183,1.718,1.084,0.581,1.189'/><polygon class='st0' points='10.041,1.632 6.645,5.41 3.037,4.891 5.64,1.623 10.041,1.142 '/><line class='st0' x1='6.645' y1='5.41' x2='5.263' y2='0.302'/><path class='st0' d='M4.507,0.251c0.395,0.102,1.551-0.1,1.692,0.102'/></svg>");
  }
  .giro &:after {
    content: url("data:image/svg+xml;charset=UTF-8, <svg xmlns='http://www.w3.org/2000/svg' version='1.1' viewBox='0 0 14.63 7.928' height='50' width='50'><style type='text/css'>.st0{fill:none;stroke:var(--primary,#{$giro-primary});stroke-width:0.5;stroke-linecap:round;stroke-miterlimit:10;}</style><circle class='st0' cx='11.593' cy='4.891' r='2.787'/><circle class='st0' cx='3.037' cy='4.891' r='2.787'/><path class='st0' d='M11.593,4.891l-1.552-3.26V0.268c1.552-0.183,1.718,1.084,0.581,1.189'/><polygon class='st0' points='10.041,1.632 6.645,5.41 3.037,4.891 5.64,1.623 10.041,1.142 '/><line class='st0' x1='6.645' y1='5.41' x2='5.263' y2='0.302'/><path class='st0' d='M4.507,0.251c0.395,0.102,1.551-0.1,1.692,0.102'/></svg>");
  }

  .vuelta &:after {
    content: url("data:image/svg+xml;charset=UTF-8, <svg xmlns='http://www.w3.org/2000/svg' version='1.1' viewBox='0 0 14.63 7.928' height='50' width='50'><style type='text/css'>.st0{fill:none;stroke:var(--primary,#{$vuelta-primary});stroke-width:0.5;stroke-linecap:round;stroke-miterlimit:10;}</style><circle class='st0' cx='11.593' cy='4.891' r='2.787'/><circle class='st0' cx='3.037' cy='4.891' r='2.787'/><path class='st0' d='M11.593,4.891l-1.552-3.26V0.268c1.552-0.183,1.718,1.084,0.581,1.189'/><polygon class='st0' points='10.041,1.632 6.645,5.41 3.037,4.891 5.64,1.623 10.041,1.142 '/><line class='st0' x1='6.645' y1='5.41' x2='5.263' y2='0.302'/><path class='st0' d='M4.507,0.251c0.395,0.102,1.551-0.1,1.692,0.102'/></svg>");
  }
}

abbr {
  border-bottom: 1px dotted $gray;
  cursor: help;
}

.italic {
  font-style: italic;
}

cite {
  font-weight: $font-weight-bold;
  &:before {
    content: "–";
    padding-right: $pad-quarter;
    padding-left: $pad;
  }
}
