<fieldset>
    <div class="field-container">
        <label for="select">Select</label>
        <select id="select">
            <optgroup label="Option Group">
                <option>Option One</option>
                <option>Option Two</option>
                <option>Option Three</option>
            </optgroup>
        </select>
    </div>
    <div class="field-container select">
        <label for="select" class="visually-hidden">Select Button List</label>
        <select id="select" class="sel-btn">
        <option>Select Button List</option>
            <optgroup label="Option Group">
                <option>Option One</option>
                <option>Option Two</option>
                <option>Option Three</option>
            </optgroup>
        </select>
    </div>
    <div class="field-container">
        <label for="select" class="visually-hidden">Select Button List</label>
        <select id="select" class="sel-btn sel-btn-small">
        <option>Select Button List</option>
            <optgroup label="Option Group">
                <option>Option One</option>
                <option>Option Two</option>
                <option>Option Three</option>
            </optgroup>
        </select>
    </div>
</fieldset>